*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: tungsten-black;
    src: url(./fonts/Tungsten-Black.ttf);
}
@font-face {
    font-family: tungsten-black-thin;
    src: url(./fonts/Tungsten-Thin.ttf);
}
@font-face {
    font-family: tungsten-black-medium;
    src: url(./fonts/Tungsten-Medium.ttf);
}
@font-face {
    font-family: tungsten-black-extralight;
    src: url(./fonts/Tungsten-ExtraLight.ttf);
}
@font-face {
    font-family: tungsten-black-light;
    src: url(./fonts/Tungsten-Light.ttf);
}
@font-face {
    font-family: tungsten-black-semibold;
    src: url(./fonts/Tungsten-Semibold.ttf);
}
/* Video CSS */
.video-container{
    position: relative;
    z-index: 1;
    width: 100%;
}

.video-container video{
    width: 100%;
    height: 620px;
    background-color: black;
}

.full-logo img{
    position: absolute;
    top: 15%;
    left: 43%;
    width: 150px;
}
.logo-chico img{
    position: absolute;
    top: 2%;
    left: 11%;
    width: 45px;
}
.icono-telefono{
    position: absolute;
    top: 3%;
    right: 15%;
    width: 30px;
    fill: #eb2d37;
}
.icono-telefono:hover .telefono{
    fill: #fff;
}
.icono-telefono:hover{
    width: 33px;
}
.icono-chat a{
    position: absolute;
    top: 3%;
    right: 12.7%;
    width: 30px;
    fill: #eb2d37;
}
.icono-chat:hover .chat{
    fill: #fff;
}
.icono-chat:hover{
    width: 33px;
}
.icono-facebook{
    position: absolute;
    bottom: 9.5%;
    left: 41%;
    width: 33px;
    fill: #eb2d37;
}
.icono-facebook:hover .facebook{
    fill: #fff;
}
.icono-facebook:hover{
    width: 35px;
}
.icono-twitter{
    position: absolute;
    bottom: 9.5%;
    left: 44.5%;
    width: 33px;
    fill: #eb2d37;
}
.icono-twitter:hover .twitter{
    fill: #fff;
}
.icono-twitter:hover{
    width: 35px;
}
.icono-instagram{
    position: absolute;
    bottom: 9.5%;
    left: 48%;
    width: 33px;
    fill: #eb2d37;
}
.icono-instagram:hover .instagram{
    fill: #fff;
}
.icono-instagram:hover{
    width: 35px;
}
.icono-youtube{
    position: absolute;
    bottom: 9.5%;
    left: 51.5%;
    width: 33px;
    fill: #eb2d37;
}
.icono-youtube:hover .st0{
    fill: #fff;
}
.icono-youtube:hover{
    width: 35px;
}


/* CountDown CSS*/
.container{
    position: absolute;
    top: 35%;
    left: 27%;
}
.container p{
    font-size: 100px;
    display: inline;
    margin-right: 5px;
    color: #fff;
    padding: 0 5px;
    font-family: tungsten-black;
}
#letter{
    font-family: tungsten-black-thin;
}
#palabras{
    position: absolute;
    font-size: 60px;
    color: #fff;
    top: 50%;
    left: 28%;
    font-family: tungsten-black-medium;
}
#palabras-chicas{
    position: absolute;
    font-size: 25px;
    color: #fff;
    top: 77%;
    left: 40%;
    font-family: tungsten-black-medium;
}

.modal-section{
    border: 1px solid black;
    position: absolute;
    top: 10%;
    left: 35%;
    /* background-color: rgb(110, 35, 35); */
    display: none;
    z-index: 100;
    background: linear-gradient(rgb(77, 7, 7) 20%, rgb(207, 19, 19));
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.6);
}
.modal-logo{
    background-color: rgb(66, 6, 6);
    text-align: center;
}
.modal-logo img{
    width: 200px;
}
.exit{
    position: absolute;
    top: 2%;
    right: 2%;
    text-decoration: none;
    color: crimson;
}

.formulario-modal{
    margin: 20px;
    text-align: center;
}
.input{
    margin: 10px 0;
}
.input input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}
.input input::placeholder{
    font-size: 16px;
    font-family: tungsten-black-light;
}
.input textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}
.input textarea::placeholder{
    font-size: 16px;
    font-family: tungsten-black-light;
}
.p-text-form{
    text-align: center;
    font-size: 18px;
    color: rgb(161, 46, 46);
    font-family: tungsten-black-light;
}
.button-submit{
    padding: 10px 50px;
    background-color: rgb(49, 6, 6);
    color: white;
    font-family: tungsten-black-light;
    font-size: 20px;
    border: none;
}
@media (max-width: 768px){
    .video-container video{
        height: 420px;
    }
    .icono-chat a{
        top: 3%;
        right: 4%;
        width: 30px;
    }
    .icono-telefono{
        top: 3%;
        right: 8.5%;
        width: 30px;
    }
    .logo-chico img{
        position: absolute;
        top: 2%;
        left: 5%;
        width: 45px;
    }
    .container{
        top: 35%;
        left: 25%;
    }
    .container p{
        font-size: 60px;
    }
    #palabras{
        font-size: 40px;
        top: 50%;
        left: 28%;
    }
    #palabras-chicas{
        font-size: 20px;
        top: 77%;
        left: 39%;
    }
    .icono-facebook{
        position: absolute;
        bottom: 9.5%;
        left: 40%;
        width: 30px;
        fill: #eb2d37;
    }
    .icono-twitter{
        position: absolute;
        bottom: 9.5%;
        left: 44%;
        width: 30px;
        fill: #eb2d37;
    }
    .icono-instagram{
        position: absolute;
        bottom: 9.5%;
        left: 49%;
        width: 30px;
        fill: #eb2d37;
    }
    .icono-youtube{
        position: absolute;
        bottom: 9.5%;
        left: 54%;
        width: 30px;
        fill: #eb2d37;
    }
}
@media (max-width: 376px){
    .video-container video{
        height: 200px;
    }
    .icono-chat a{
        top: 3%;
        right: 4%;
        width: 27px;
    }
    .icono-telefono{
        top: 3%;
        right: 11%;
        width: 27px;
    }
    .logo-chico img{
        position: absolute;
        top: 2%;
        left: 5%;
        width: 40px;
    }
    .full-logo img{
        position: absolute;
        top: 15%;
        left: 39%;
        width: 100px;
    }
    .container{
        top: 45%;
        left: 25%;
    }
    .container p{
        font-size: 30px;
        margin-right: 2px;
        padding: 0 2px;
    }
    #palabras{
        font-size: 20px;
        top: 60%;
        left: 28%;
    }
    #palabras-chicas{
        font-size: 12px;
        top: 77%;
        left: 37%;
    }
    .icono-facebook{
        bottom: 5%;
        left: 37%;
        width: 20px;
    }
    .icono-twitter{
        bottom: 5%;
        left: 43%;
        width: 20px;
    }
    .icono-instagram{
        bottom: 5%;
        left: 49.5%;
        width: 20px;
    }
    .icono-youtube{
        bottom: 5%;
        left: 56%;
        width: 20px;
    }
    .modal-section{
        top: 10%;
        left: 13%;
    }
    .modal-logo{
        background-color: rgb(66, 6, 6);
        text-align: center;
    }
    .modal-logo img{
        width: 150px;
    }
    .formulario-modal{
        margin: 10px;
    }
    .input input{
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
    }
    .input input::placeholder{
        font-size: 14px;
    }
    .input textarea{
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
    }
    .input textarea::placeholder{
        font-size: 14px;
    }
    .p-text-form{
        font-size: 16px;
    }
    .button-submit{
        padding: 10px 30px;
        font-size: 14px;
    }
}